.reviews {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .reviewWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 0;
    gap: 2rem;
    row-gap: 15rem;
  }