@media (prefers-reduced-motion: no-preference) {
    .blink-cursor {
        animation: blink 1s linear infinite;
    }

    @keyframes blink {
        0% {
            opacity: 100%;
        }
        50% {
            opacity: 0%;
        }
    }
    /* Ensure nav-links takes full height and width */




    @keyframes slideDown {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    /* Add the keyframes for the slide-up animation */
    @keyframes slideUp {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        100% {
            transform: translateY(-100%);
            opacity: 0;
        }
    }
    
    /* Apply the animation to the dialog */
    .dialog {
        transition: opacity 0.3s ease;
    }
    
    .dialog.show {
        animation: slideDown 0.3s forwards;
    }
    
    .dialog.hide {
        animation: slideUp 0.3s forwards;
    }


        /* Style for underline effect on hover */
    .giveUnderline::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #ffffff; /* White underline color */
        transform: scaleX(0); /* Initially hidden */
        transition: transform 0.3s ease;
    }

    .relative:hover::after {
        transform: scaleX(1); /* Display underline on hover */
    }

    .hiddenAnimate {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(-100%);
        transition: all 0.5s;
    }

    .hiddenAnimateLeft {
        opacity: 0;
        filter: blur(10px);
        transform: translateX(100%);
        transition: all 0.5s;
    }

    .showAnimate {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

    @keyframes slide {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%); /* Adjusted value for seamless looping */
        }
    }
    
    .logos-slide {
        display: inline-block;
        white-space: nowrap;
        animation: 10s slide infinite linear;
    }
    
}