.text-shadow-style {
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px black;
}


.giveUnderline {
  position: relative;
}

.giveUnderline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  border: 1.5px solid black;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.giveUnderline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.gradient {
  background: linear-gradient(90deg, rgb(19, 11, 172) 0%, rgb(64, 64, 140) 50%, rgb(134, 212, 228) 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 10s linear infinite;
}

.lessgradient {
  background: linear-gradient(90deg, rgb(226, 226, 236) 0%, rgb(151, 151, 243) 50%, rgb(92, 89, 246) 100%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 5s linear infinite;
}



@keyframes gradientMove {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}



